/.idea
/runtime
/log
/public/upload
/public/logs
/public/dev_index.php
/app/database.php
/public/dev_admin.php
/public/demo_index.php
/app/database.php
/public/dev_shell.php
/dev_server.php
/public/web
/crontab
/vendor
/nbproject/private/
/app/config.php